<launch>

  <arg name="Airsim_ip" default="127.0.0.1"/>
  <arg name="Airsim_port" default="41451"/>

  <node pkg="airsim_img_publisher"
    type="airsim_imgPublisher"
    name="airsim_imgPublisher" 
    output="screen" >

    <!-- IP of the Airsim computer -->
    <param name="Airsim_ip" value="$(arg Airsim_ip)"/>

    <!-- Port of the Airsim computer (this is default, do not change!) -->
    <param name="Airsim_port" value="$(arg Airsim_port)"/>

    <!-- RGB camera parameters (parameters when calibrated) -->
    <param name="Fx" value="360"/>
    <param name="Fy" value="360"/>
    <param name="cx" value="360"/>
    <param name="cy" value="240"/>
    <param name="width" value="640"/>  <!-- Width when calibrated!-->
    <param name="height" value="480"/> <!-- Height when calibrated!-->

    <!-- Depth baseline -->
    <param name="Tx" value="0.14"/>
    <param name="scale" value="0.38"/>
    <param name="maxDist" value="20.0"/>

    <!-- other params -->
    <param name="localization_method" value="ground_truth"/>
    <param name="all_front" value="false"/>
    <param name="loop_rate" value="50"/>

  </node>

</launch>
